<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" th:fragment="header">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link href="css/styles.css" rel="stylesheet">
</head>

<body>

    <!-- ======= Header ======= -->
    
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <img src="assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">Contact Management System</span>
            </a>
        </div><!-- End Logo -->

        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                <a href="#" class="btn btn-success ml-2">Add Contact</a> <!-- End Add Button -->
            </form>
        </div><!-- End Search Bar -->
    </header>
    
   

    <!-- <nav class="navbar navbar-expand-lg navbar-dark" >
        <a class="navbar-brand" href="#">Contact Management System</a>
    </nav> -->
    <!-- ======= End of Header ======= -->