<nav id="navbar" th:fragment="navbar">
    <div class="navbar-nav">
        <div class="mb-2">
            <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
            <h6>Profile</h6>
            <a class="nav-link" href="#"><i class="fas fa-sign-in-alt"></i> Log In</a>
            <a class="nav-link" href="#"><i class="fas fa-sign-out-alt"></i> Log Out</a>
        </div>
        <div>
            <h6>Communication</h6>
            <a class="nav-link" href="#"><i class="fas fa-share"></i> Share</a>
            <a class="nav-link" href="#"><i class="fas fa-star"></i> Rate Us</a>
        </div>
    </div>
</nav>