<nav id="navbar" th:fragment="navbar">
    <div class="navbar-nav">
        <div>
            <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
            <a class="nav-link" href="/contacts"><i class="fas fa-address-book"></i> Contacts</a>
        </div>
        <div>
            <h6>Data Management</h6>
            <a class="nav-link" href="#"><i class="fas fa-exchange-alt"></i> Import/Export</a>
        </div>
        <div>
            <h6>Personalization</h6>
            <a class="nav-link" href="#"><i class="fas fa-users"></i> Groups</a>
            <a class="nav-link" href="#"><i class="fas fa-star"></i> Favorites</a>
        </div>
        <div>
            <h6>History</h6>
            <a class="nav-link" href="#"><i class="fas fa-history"></i> Activities</a>
        </div>
        <div>
            <h6>Profile</h6>
            <a class="nav-link" href="#"><i class="fas fa-user"></i> User Profile</a>
            <a class="nav-link" href="#"><i class="fas fa-sign-in-alt"></i> Log In</a>
            <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Log Out</a>
        </div>
        <div>
            <h6>Communication</h6>
            <a class="nav-link" href="#"><i class="fas fa-bell"></i> Notification</a>
            <a class="nav-link" href="#"><i class="fas fa-share"></i> Share</a>
            <a class="nav-link" href="#"><i class="fas fa-star"></i> Rate Us</a>
        </div>
    </div>
</nav>
