/* Header */
header {
    background-color: #007bff;
    /* padding: 10px; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Add shadow */
}
.search-bar {
    margin: auto;
    margin-top: 10px;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-form input {
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 5px 10px;
    width: 300px;
}

.search-form input:focus,
.search-form input:hover {
    outline: none;
    box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
    border: 1px solid rgba(1, 41, 112, 0.3);
}

/* Make Search Button into a magnifying glass icon */
.search-form button {
    border: 0;
    padding: 0;
    margin-left: -25px;
    margin-right: 5px;
    background: none;
}

.search-form button::before {
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    outline: none;
}

/* Add Button */
.btn-success {
    /* background-color: #007bff; */
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
}

/* Details, Update, Delete Buttons */
#detailsButton, #updateButton, #deleteButton {
    width: 100px;
}

.logo {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
}

/* .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
} */

/* Make Logo into an Icon Phone */
.logo::before {
    content: "\f879";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    width: 40px;
    height: 100%;
    margin-right: 10px;
    margin-left: 10px;
}

/* Start Main */
main {
    padding: 20px;
    margin-top: 60px;
    /* Adjust this value to give space for the fixed header */
    margin-bottom: 60px;
    /* Adjust this value to give space for the fixed footer */
}
/* End Main */


#pagetitle {
    margin-bottom: 20px;
    text-align: center;
}
/* Start */

#contact-form {
    width: 30%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-form input {
    margin-bottom: 10px;
    box-sizing: border-box;
}

#contact-form .btn {
    width: 100%;
    max-width: 200px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

/* Start Field Animation */
.input-group{
    position: relative; 
}

.input{
    width: 100%;
    border: solid 1.5px #9E9E9E;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #000000;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.label{
    position: absolute;
    left: 15px;
    color: #6d6d6d;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.input:focus, input:valid{
    outline: none;
    border: 1.5px solid #1A73E8;
}

.input:focus ~ label, input:valid ~ label{
    transform: translateY(-50%) scale(0.8);
    background-color: #ffffff;
    padding: 0 .2em;
    color: #1A73E8;
}

/* End Field Animation */

/* Improved responsiveness for smaller screenss */
@media (max-width: 600px) {
    #contact-form {
        width: 80%;
    }
}

/* End */


.contact-table {
    overflow-x: auto;
}

.table thead th {
    text-align: center;
}

.table tbody td {
    text-align: center;
}

/* CSS for Pagination and Sorting*/
.row.col-sm-10 {
    display: flex;
    justify-content: flex-end; /* Aligns the pagination to the right */
    margin-top: 20px;
}

.row.col-sm-10 .col-sm-2 {
    margin-right: 20px;
}

.row.col-sm-10 .col-sm-1 {
    margin: 0 10px;
}

.row.col-sm-10 .col-sm-1 a {
    color: #007bff;
    text-decoration: none;
}

.row.col-sm-10 .col-sm-1 a:hover {
    color: #0056b3;
}

.row.col-sm-10 .col-sm-1 span {
    color: #6c757d;
}
/* End of Pagination and Sorting */

/* Start Footer */
footer {
    background-color: #007bff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
}
/* End Footer */

