/* Media query for smaller screens */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 10% 20% 20% 20% 20%;
    grid-template-areas:
      "header"
      "navbar"
      "main"
      "section"
      "content"
      "footer";
  }

  #header,
  #navbar,
  #main,
  #section,
  #content,
  #footer {
    text-align: center;
    padding: 10px;
  }
}

/* Default styles for larger screens */

@media (min-width: 768px) {
  .container {
    display: grid;
    gap: 5px;
    margin: 14px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr 2fr 2fr;
    grid-template-areas:
      "header header header"
      "navbar main main"
      "navbar section content"
      "footer footer footer";
  }
}

#header {
  grid-area: header;
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
}

#navbar {
  grid-area: navbar;
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
}

#main {
  grid-area: main;
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
}

#section {
  grid-area: section;
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
}

#content {
  grid-area: content;
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
}

#footer {
  grid-area: footer;
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
}
