<!-- Header -->
<th:block th:replace="~{commons/header :: header}"></th:block>

<!-- ======= MAIN ======= -->
<main id="main" class="main">

    <h1 id="pageTitle">Dynamic H1</h1>

    <form id="contact-form" method="POST" modelAttribute="contact">

        <!-- Display errors -->
        <div th:if="${errors}" class="alert alert-danger">
            <p th:each="error : ${errors}" th:text="${error.defaultMessage}"></p>
        </div>

        <!-- Display success message -->
        <div th:if="${successMessage}" class="alert alert-success">
            <p th:text="${successMessage}"></p>
        </div>

        <div class="input-group">
            <input class="input " type="text" name="firstName" th:value="${contact?.firstName}" required>
            <label class="label">First Name</label>
        </div>

        <div class="input-group">
            <input class="input" type="text" name="lastName" th:value="${contact?.lastName}" required>
            <label class="label">Last Name</label>
        </div>

        <div class="input-group">
            <input class="input" type="text" name="address" th:value="${contact?.address}" required>
            <label class="label">Address</label>
        </div>

        <div class="input-group">
            <input class="input" type="email" name="email" th:value="${contact?.email}" required>
            <label class="label">Email</label>
        </div>

        <div class="input-group">
            <input class="input" type="tel" name="contactNumber" th:value="${contact?.contactNumber}" required>
            <label class="label">Contact Number</label>
        </div>

        <input type="submit" class="btn btn-success ml-2" value="Dynamic Button">
    </form>


</main>

<!-- Footer -->
<th:block th:replace="~{commons/footer.html :: footer}"></th:block>