<!-- Header -->
<th:block th:replace="~{commons/header.html :: header}"></th:block>

<!-- ======= MAIN ======= -->
<main id="main" class="main">
    <div class="pagetitle">
        <h1 id="pagetitle">Contact List</h1>

    </div><!-- End Page Title -->

    <div class="contact-table">
        <table class="table mt-4">
            <thead>
                <tr>
                    <th th:class="${sortField eq 'firstName'} ? 'active' : ''">
                        <a th:href="@{'/page/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${reverseSortDir}}">
                            Name
                        </a>
                    </th>
                    <th th:class="${sortField eq 'email'} ? 'active' : ''">
                        <a th:href="@{'/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
                            Email
                        </a>
                    </th>
                    <!-- <th th:class="${sortField eq 'firstName'} ? 'active' : ''">
                        <a th:href="@{'/page/' + ${currentPage} + '?sortField=contactNumber&sortDir=' + ${reverseSortDir}}">
                            Contact Number
                        </a>
                    </th> -->
                    <th>Contact Number</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- BEGIN: Dynamic Table Rows -->
                <tr th:each="contact : ${contacts}">
                    <td th:text="${contact.firstName} + ' ' + ${contact.lastName}"></td>
                    <td th:text="${contact.email}"></td>
                    <td th:text="${contact.contactNumber}"></td>
                    <td>
                        <a th:href="@{/details-contact?id={id}(id=${contact.id})}" class="btn btn-primary btn-sm"
                            id="detailsButton">Details</a>
                        <a th:href="@{/update-contact?id={id}(id=${contact.id})}" class="btn btn-primary btn-sm"
                            id="updateButton">Update</a>
                        <a th:href="@{/delete-contact?id={id}(id=${contact.id})}" class="btn btn-danger btn-sm"
                            id="deleteButton">Delete</a>
                    </td>
                </tr>
                <!-- END: Dynamic Table Rows -->
            </tbody>
        </table>

        <!-- BEGIN: Pagination -->
        <div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
				<div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>
				
				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div>
			</div>
		</div>
        <!-- END: Pagination -->

    </div>

</main>
<!-- ======= End of MAIN ======= -->

<!-- Footer -->

<th:block th:replace="~{commons/footer.html :: footer}"></th:block>