
    
    <!-- Header -->
    <th:block th:replace="commons/header :: header"></th:block>

    <!-- ======= MAIN ======= -->
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Contact List</h1>
        </div><!-- End Page Title -->

        <div class="contact-table">
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- BEGIN: Dynamic Table Rows -->
                    <tr th:each="contact : ${contacts}">
                        <td th:text="${contact.firstName} + ' ' + ${contact.lastName}"></td>
                        <td th:text="${contact.email}"></td>
                        <td th:text="${contact.contactNumber}"></td>
                        <td>
                            <a th:href="@{/details-todo(id=${contact.id})}" class="btn btn-primary btn-sm" id="detailsButton">Details</a>
                            <a th:href="@{/update-todo(id=${contact.id})}" class="btn btn-primary btn-sm" id="updateButton">Update</a>
                            <a th:href="@{/delete-todo(id=${contact.id})}" class="btn btn-danger btn-sm" id="deleteButton">Delete</a>
                        </td>
                    </tr>
                    <!-- END: Dynamic Table Rows -->
                </tbody>
            </table>
        </div>

    </main>
    <!-- ======= End of MAIN ======= -->

    <!-- Footer -->
    <th:block th:replace="commons/footer :: footer"></th:block>

    